{{ define "Edit" }}
{{ template "Header" }}
{{ template "Menu" . }}
<h1>Create new Hostel</h1>
<form method="POST" action="/hostel/update">

  <input type="hidden" name="huid" value="{{.Hostel.Cid}}" />

  <label>Name: </label><input type="text" name="name" value="{{ .Hostel.Name }}" /><br />
  <label>State: </label><input type="text" name="state" value="{{ .Hostel.State }}" /><br />
  <label>Address: </label><input type="text" name="address" value="{{ .Hostel.Address }}" /><br />
  <label>Phone: </label><input type="text" name="phone" value="{{ .Hostel.Phone  }}" /><br />
  <input type="Submit" value="Update Hostel" /> | <a href="/hostel/delete?huid={{ .Hostel.Cid }}">Delete</a>
</form>
{{ template "Footer" }}
{{ end }}
